<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.java.mapper.FacilityMapper" >
  <resultMap id="BaseResultMap" type="cn.java.dto.Facility" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="building_id" property="buildingId" jdbcType="VARCHAR" />
    <result column="floor" property="floor" jdbcType="VARCHAR" />
    <result column="position" property="position" jdbcType="VARCHAR" />
    <result column="img_url" property="imgUrl" jdbcType="VARCHAR" />
    <result column="decsription" property="decsription" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, building_id, floor, position, img_url, decsription
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from facility
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectByWord" resultMap="BaseResultMap" parameterType="java.long.String">
  select 
  <include refid="Base_Column_List" />
  from building
  where name like %#{word}%
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from facility
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.java.dto.Facility" >
    insert into facility (id, name, building_id, 
      floor, position, img_url, 
      decsription)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{buildingId,jdbcType=VARCHAR}, 
      #{floor,jdbcType=VARCHAR}, #{position,jdbcType=VARCHAR}, #{imgUrl,jdbcType=VARCHAR}, 
      #{decsription,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.java.dto.Facility" >
    insert into facility
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="buildingId != null" >
        building_id,
      </if>
      <if test="floor != null" >
        floor,
      </if>
      <if test="position != null" >
        position,
      </if>
      <if test="imgUrl != null" >
        img_url,
      </if>
      <if test="decsription != null" >
        decsription,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="buildingId != null" >
        #{buildingId,jdbcType=VARCHAR},
      </if>
      <if test="floor != null" >
        #{floor,jdbcType=VARCHAR},
      </if>
      <if test="position != null" >
        #{position,jdbcType=VARCHAR},
      </if>
      <if test="imgUrl != null" >
        #{imgUrl,jdbcType=VARCHAR},
      </if>
      <if test="decsription != null" >
        #{decsription,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.java.dto.Facility" >
    update facility
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="buildingId != null" >
        building_id = #{buildingId,jdbcType=VARCHAR},
      </if>
      <if test="floor != null" >
        floor = #{floor,jdbcType=VARCHAR},
      </if>
      <if test="position != null" >
        position = #{position,jdbcType=VARCHAR},
      </if>
      <if test="imgUrl != null" >
        img_url = #{imgUrl,jdbcType=VARCHAR},
      </if>
      <if test="decsription != null" >
        decsription = #{decsription,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.java.dto.Facility" >
    update facility
    set name = #{name,jdbcType=VARCHAR},
      building_id = #{buildingId,jdbcType=VARCHAR},
      floor = #{floor,jdbcType=VARCHAR},
      position = #{position,jdbcType=VARCHAR},
      img_url = #{imgUrl,jdbcType=VARCHAR},
      decsription = #{decsription,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>