<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.java.mapper.RoomMapper" >
  <resultMap id="BaseResultMap" type="cn.java.dto.Room" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="building_id" property="buildingId" jdbcType="INTEGER" />
    <result column="floor_id" property="floorId" jdbcType="INTEGER" />
    <result column="area_coords" property="areaCoords" jdbcType="VARCHAR" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="img_url" property="imgUrl" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, type, building_id, floor_id, area_coords, description, img_url
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from room
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectByWord" resultMap="BaseResultMap" parameterType="java.lang.String">
  select
  <include refid="Base_Column_List" />
    from room
    where name like %#{word}%
  </select>
  <select id="selectSelective" resultMap="BaseResultMap" parameterType="cn.java.dto.Room" >
  	select
  	<include refid="Base_Column_List" />
  	from room
  	<where>
  		<if test="id!=null">
  			id = #{id}
  		</if>
  		<if test="name!=null">
  			and name = #{name}
  		</if>
  		<if test="type!=null">
  			and type = #{type}
  		</if>
  		<if test="buildingId!=null">
  			and building_id = #{buildingId}
  		</if>
  		<if test="floorId!=null">
  			and floor_id = #{floorId}
  		</if>
  		<if test="areaCoords!=null">
  			and area_coords = #{areaCoords}
  		</if>
  		<if test="description!=null">
  			and description = #{description}
  		</if>
  		<if test="imgUrl!=null">
  			and img_url = #{imgUrl}
  		</if>
  	</where>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from room
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.java.dto.Room" >
    insert into room (id, name, type, 
      building_id, floor_id, area_coords, description, 
      img_url)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, 
      #{buildingId,jdbcType=INTEGER}, #{floorId,jdbcType=VARCHAR}, #{areaCoords,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, 
      #{imgUrl,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.java.dto.Room" >
    insert into room
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="buildingId != null" >
        building_id,
      </if>
      <if test="floorId != null" >
        floor_id,
      </if>
      <if test="areaCoords != null" >
        area_coords,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="imgUrl != null" >
        img_url,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="buildingId != null" >
        #{buildingId,jdbcType=INTEGER},
      </if>
      <if test="floorId != null" >
        #{floorId,jdbcType=VARCHAR},
      </if>
      <if test="areaCoords != null" >
        #{areaCoords,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="imgUrl != null" >
        #{imgUrl,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.java.dto.Room" >
    update room
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="buildingId != null" >
        building_id = #{buildingId,jdbcType=INTEGER},
      </if>
      <if test="floorId != null" >
        floor_id = #{floorId,jdbcType=VARCHAR},
      </if>
      <if test="areaCoords != null" >
        area_coords = #{areaCoords,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="imgUrl != null" >
        img_url = #{imgUrl,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.java.dto.Room" >
    update room
    set name = #{name,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      building_id = #{buildingId,jdbcType=INTEGER},
      floor_id = #{floorId,jdbcType=VARCHAR},
      area_coords = #{areaCoords,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      img_url = #{imgUrl,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>